* ,a {
    /* color: white ; */
    text-decoration: none;
}
.fs-00{
    font-size: 6rem;
}
img{
    width: 100%;
    
}
nav, footer, .port .line ,.contact .line {
    background-color: #2C3E50 !important;
}
.navbar .logo {
    font-size: 2rem;
    font-weight: 700;
}

.navbar .links a{
    font-weight: 700;
}

.copyright {
    background-color: #1A252F ;
}

.home{
    background-color: #1ABC9C;
}




.home img{
    width: 15.625rem;
    /* height: auto; */
}

.contact {
    height: 90vh;
    
}

.btn {
    background-color: #1ABC9C;
    border: none;
}

.about , .home {
    height: 90vh;
    background-color: #1ABC9C;
}

.line{
    width:5rem;
    height:0.25rem;
    /* background-color:white; */
}
.port h1 , .contact h1  {
    color: #2C3E50 !important;
}

.icon {
    color: #2C3E50 !important;
}


#folow{
    width: 100% !important;
    opacity: 0;
    cursor: pointer;
    background-color: #1abc9ce6;
    transition: .6s ;
}
form{
    width: 50%;
}
form input{
    border: none !important;
    border-bottom: 1px solid rgba(128, 128, 128, 0.268) !important;
}
#folow:hover{
    opacity: 1;
}
@media screen and (max-width: 800px) {
    .navbar .logo {
        font-size: 1.75rem;
    }

form{
    width: 95% !important;
}
    
}

#fully{
    background-color: #1174ff44;
    z-index: 9999;
}